:root {
  --tap-text-color: #263d2e;
  --tap-surface-color: #fffdf5;
  --tap-border-color: #778571;
  --tap-hover-color: #ecefdf;
  --tap-backdrop-color: #34403666;
  --tap-notice-text-color: #ffffff;
  --tap-notice-surface-color: #263d2e;
  --tap-map-color: #eeeade;
}
