:root {
  --tap-text-color: #21324d;
  --tap-surface-color: #e1e9f2;
  --tap-border-color: #7594b6;
  --tap-hover-color: #ccdbea;
  --tap-backdrop-color: #050b1bcc;
  --tap-notice-text-color: #eef4ff;
  --tap-notice-surface-color: #17233b;
  --tap-map-color: #0d152b;
}
